<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<div>
  <% if user_signed_in? %>
    <p>Usuario logado / <%= current_user.email %></p>
  <% else %>
    <p>Usuario deslogado</p>
  <% end %>
</div>
<div>
  <% if admin_signed_in? %>
    <p>Admin logado / <%= current_admin.email %></p>
  <% else %>
    <p>Admin deslogado</p>
  <% end %>
</div>